html, body {
	height: 100%;
	margin: 0%;
	padding: 0%;
}
#mapCont {
	height:87.5%;
	top:1.5%;
}
h1{
	margin:0;
}
input:hover {
	cursor:not-allowed;
}
#cheatCode {
	float:right;
	margin-right:10px;
	display:none;
}